<h1>Sliderdown</h1>

<%= form_for :page, url: pages_path do |f| %>
 
  <p>
    <%= f.label "Paste markdown, get slides:" %><br>
    <%= f.text_area :html, :cols => "30", :rows => "10" %>
  </p>
 
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>

<p>Put three dashes (---) between slides</p>

<p>made by <a href="http://www.twitter.com/chendriksen">@chendriksen</a></p>