<h1>Slider</h1>

<%= form_for :page, url: pages_path do |f| %>
 
  <p>
    <%= f.label "Paste markdown, get slides:" %><br>
    <%= f.text_area :html %>
  </p>
 
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>

made by <a href="http://www.twitter.com/chendriksen">@chendriksen</a>