<h1>PopPage: 1 Click Webpage!</h1>

<%= form_for :page, url: pages_path do |f| %>
 
  <p>
    <%= f.label "Put your HTML/CSS here:" %><br>
    <%= f.text_area :html %>
  </p>
 
  <p>
    <%= f.submit "Generate" %>
  </p>
<% end %>

made by <a href="http://www.twitter.com/chendriksen">@chendriksen</a>